@import "tailwindcss";

.list-item-style {
  @apply p-3  rounded-md text-gray-800 hover:bg-sky-300 hover:border border-gray-400 hover:text-black cursor-pointer;
}
.active{
    @apply  bg-sky-300 text-black border border-gray-400
}
.side{
    @apply ml-0
}
/* suggestion box basic styling */
.suggestion-box {
  @apply min-w-[220px];
}

/* Highlighted text inside the suggestion list */
.suggestion-box .suggestion-item mark {
  @apply bg-[#fff3bf] px-[2px] rounded-sm;
}


